*{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

.header{
    background-color: #3D8D7A;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo{
    margin-left: 50px;
    font-size: 28px;
    font-weight: 900;
}

.links{
    display: flex;
    gap: 8px;
    margin-right: 50px;
}

a:hover{
    font-style: italic;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #3D8D7A;
    color: white;
    padding: 20px;

}

.intro{
   background-color: #B3D8A8;
   padding: 20px;
   display: flex;
   justify-content: space-between;
} 

.intro-image{
    border-radius: 25px;
}

.intro-text{
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    padding-left: 200px;
    gap: 20px;
}

.intro-pic{
    padding-right: 200px;

}

.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    background: #3d8d7a;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 150px;
    font-weight: bold;
    text-align: center;
  }
  
  .btn:hover {
    background: #5bc7ac;
    text-decoration: none;
    cursor: pointer;
  }

.body{
   background-color: #FBFFE4; 
   padding: 70px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;

}

.container{
    display: flex;
    justify-content: center;
    gap: 50px;

}

.text{
    max-width: 200px;
    text-align: center;
}

.info-pic{
    border-radius: 25px;
    border-color: #3D8D7A;
    border-style:solid;
}

.testimonial{
    background-color:#B3D8A8;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    
}

.test-content{
    display: flex;
    flex-direction: column;
}

 .quote{
    font-style: italic;
    color: white;
    font-size: 20px;
    width: 400px;
    line-height: 2;
 }

 .kyle{
    font-weight: bold;
    color: white;
    size: 16px;
    margin-left: 200px;
 }

 .test-pic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;

}

.test-image{
    border-radius: 25px;
}

.action{
    background-color: #FBFFE4;
    padding: 20px;
    display: flex;
    padding: 50px;
    justify-content: center;
}

.action-content{
    background-color: #B3D8A8;
    display: flex;
    gap: 12px;
    width: 800px;
    padding: 20px;
    justify-content: space-between;
    border-radius: 30px;
    border-style: dotted;
    border-color: #3D8D7A;
}

.action-text{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sign-up {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    background: #3d8d7a;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 100px;
    font-weight: bold;
    text-align: center;
    border-width: 0;

  }
  
  .sign-up:hover {
    background: #5bc7ac;
    text-decoration: none;
    cursor: pointer;
  }


